{% extends 'base.html' %}

{% block content %}
    <style>
        .testing {
            background-color: white;
            height: 3rem;
            width: 3rem;
            margin: 1rem;
        }
    </style>
    <div style="height: 20rem; background-color: #38df81; border-radius: 1rem; margin: 2rem;">

      <h1>
        testing
      </h1>
        <div class="testing" style="display: block;">block</div>
        <div class="testing" style="display: inline;">inline</div>
        <span style="height: 3rem; width:3rem;">test</span>
        <div class="testing" style="display: None;">None</div>
        <div class="testing" style="display: inline-block;">inline-block</div>
        <div class="testing">default</div>
    </div>

{% endblock %}